@import url(./reset.css);
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1b22;
}
dialog[open] > form {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 2em;
}
dialog[open] {
  border: 2px solid #eeeeee;
  border-radius: 2rem;
  background-color: lightblue;
}
select {
  background-color: skyblue;
  border-radius: 4%;
  border: none;
  height: 2em;
}
option {
  background-color: yellow;
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
input {
  border: 2px solid #eeeeee;
}
input[type="text"] {
  border-radius: 6px;
}
.topbuttons {
  font-size: 1.6rem;
  padding: 0.3em;
  background-color: skyblue;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin: 1em;
}
.table {
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.4em;
}
.table > * {
  background-color: orange;
  border-radius: 9px;
  font-size: 2rem;
  padding: 0.7em;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}
.table > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table > div:first-child {
  background-color: grey;
}
input[type="checkbox"] {
  accent-color: green;
  width: 2em;
  height: 2em;
}
